@import "tailwindcss";
* {
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  object-fit: cover;
  letter-spacing: 1px;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  footer {
    margin-top: auto;
  }
}
.container {
  max-width: 1280px;
  width: 90%;
  margin-inline: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 380px;
  width: 100%;
  p {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
}
.button {
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: #23a6f0;
  transition: 0.4s;
  &:hover {
    box-shadow: inset 0 0 15px #00000050;
  }
  &:active {
    transform: scale(0.98);
  }
}
.footer-li {
  font-size: 14px;
  color: #4f5665;
  font-weight: 400;
  cursor: pointer;
  &:first-child {
    color: #0b132a;
    font-size: 18px;
    font-weight: 500;
  }
}

.auth {
  @apply w-full h-full flex items-center;
}
